<div class="ui stacked fluid form segment">
  <form action="/addstudent" method="POST">
    <div class="field">
      <label>Student Number</label>
      <input type="text" maxlength="8" name="studentnumber">
    </div>
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" type="text" name="name">
    </div>
    <div class="field">
      <label>College</label>
      <input type="text" value="WIT" name="college" readonly="true">
    </div>
    <div class="field">
      <label>Country</label>
      <input type="hidden" name="country" value="Ireland">
    </div>

    <button class="ui blue submit button">Add</button>
  </form>
  {{> error}}
</div>
