{{#each students}}
  <section class="ui clearing raised segment">
    <table class="ui celled table segment">
      <thead>
        <tr>
          <th>Student Number</th>
          <th>Name</th>
          <th>College</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{studentnumber}}</td>
          <td>{{name}}</td>
          <td>{{college}}</td>
          <td>{{country}}</td>
        </tr>
      </tbody>
    </table>
  </section>
{{/each}}