<nav class="ui inverted menu">
  <header class="header item"><a href="/">Islands of Ireland</a></header>
  <div class="right menu">
    <a class="active item" href="/home">IoI</a>
    <a class="item" href="/logout">Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>