<section class="ui raised segment">
  <table class="ui celled table segment">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      {{#each points}}
        <tr>
          <td><a class="header" a href="/poi/{{id}}">{{name}}</a></td>
          <td>{{category.name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>