<nav class="ui inverted menu">
  <header class="header item"><a href="/">Islands of Ireland</a></header>
  <div class="right menu">
    <a class="active item" href="/home">IoI</a>
    <a class="item" href="/logout">Logout</a>
  </div>
</nav>

<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column"><img src="images/poi.jpg" class="ui medium image"/></aside>
    <article class="ten wide column">
      <header class="ui header">Explore Islands of Ireland</header>
      <p>Work in progress</p>
    </article>
  </div>
</section>