{{> mainmenu _id="home" }}

<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column"><img src="images/poi.jpg" class="ui medium image"/></aside>
    <article class="ten wide column">
      <header class="ui header">Explore Islands of Ireland</header>
      {{> addpoint }}
      {{> pointlist }}
    </article>
  </div>
</section>