{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column"><img src="images/poi.jpg" class="ui medium image"/></aside>
    <article class="ten wide column">
      <header class="ui header">Explore points of Interest</header>
      <p>Work in progress</p>
      {{> error}}
    </article>
  </div>
</section>
