{{> mainmenu _id="home" }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column"><img src="/images/poi2.jpg" class="ui medium image"></aside>
    <article class="ten wide column">
      <div class="ui segment">
        <header class="ui header">{{point.name}}</header>
        <h4>Description</h4>
        <p>{{point.description}}</p>
      </div>
    </article>
  </div>
</section>